In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../../data/raw/NSE.csv')
df = df[df['instrument_type'] == 'EQUITY']
df.sort_values(by='exchange_token', inplace=True)
df.head()

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
41218,NSE_EQ|INE405Y01021,3,GOLDSTAR,GOLDSTAR POWER LIMITED,9.80,NaN,NaN,0.05,11250.0,EQUITY,NaN,NSE_EQ
2718,NSE_EQ|INE253B01015,4,21STCENMGM,21ST CENTURY MGMT SERVICE,61.20,NaN,NaN,0.01,1.0,EQUITY,NaN,NSE_EQ
16504,NSE_EQ|INE769A01020,7,AARTIIND,AARTI INDUSTRIES LTD,475.90,NaN,NaN,0.05,1.0,EQUITY,NaN,NSE_EQ
40144,NSE_EQ|INE421A01028,10,ABAN,ABAN OFFSHORE LTD.,56.72,NaN,NaN,0.01,1.0,EQUITY,NaN,NSE_EQ
41488,NSE_EQ|INE117A01022,13,ABB,ABB INDIA LIMITED,6012.50,NaN,NaN,0.50,1.0,EQUITY,NaN,NSE_EQ

In [17]:
# List of NIFTY50 symbols (as of June 2025, update as needed)
nifty50_symbols = [
    'ADANIENT', 'ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJFINANCE',
    'BEL', 'BHARTIARTL', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'ETERNAL', 'GRASIM', 'HCLTECH', 'HDFCBANK',
    'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 'INFY', 'ITC', 'JIOFIN',
    'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE',
    'SBILIFE', 'SBIN', 'SHRIRAMFIN', 'SUNPHARMA', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TCS', 'TECHM',
    'TITAN', 'TRENT', 'ULTRACEMCO', 'WIPRO'
]

# Filter for NIFTY50 stocks
nifty50_df = df[df['tradingsymbol'].isin(nifty50_symbols)]

# Save to new CSV
nifty50_df.to_csv('../../data/processed/NIFTY50.csv', index=False)

print(nifty50_df.shape)
print(nifty50_df.head())

(50, 12)
            instrument_key  exchange_token tradingsymbol  \
45325  NSE_EQ|INE423A01024              25      ADANIENT
42478  NSE_EQ|INE437A01024             157    APOLLOHOSP
37890  NSE_EQ|INE021A01026             236    ASIANPAINT
46270  NSE_EQ|INE296A01032             317    BAJFINANCE
29401  NSE_EQ|INE263A01024             383           BEL

                            name  last_price expiry  strike  tick_size  \
45325  ADANI ENTERPRISES LIMITED      2586.2    NaN     NaN       0.10
42478  APOLLO HOSPITALS ENTER. L      7101.5    NaN     NaN       0.50
37890       ASIAN PAINTS LIMITED      2289.8    NaN     NaN       0.10
46270      BAJAJ FINANCE LIMITED       951.5    NaN     NaN       0.50
29401     BHARAT ELECTRONICS LTD       410.1    NaN     NaN       0.05

       lot_size instrument_type option_type exchange
45325       1.0          EQUITY         NaN   NSE_EQ
42478       1.0          EQUITY         NaN   NSE_EQ
37890       1.0          EQUITY         NaN   NSE_EQ
46270       1.0          EQUITY         NaN   NSE_EQ
29401       1.0          EQUITY         NaN   NSE_EQ